* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #3c3a39;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toolBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 87%;
}

.logo {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.logo a {
  text-decoration: none;
  color: white;
}

.nav {
  width: 300px;
}

.nav ul {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.hourInfo {
  display: none;
}

.menu {
  display: none;
}

.headLine {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  height: 590px;
  background-color: #1c1a19;
  padding: 0 25px 15px 25px;
  background-image: url(assets/img/illustration.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: contain;
}

.title h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 72px;
  letter-spacing: 0.37px;
  line-height: 81.5px;
  margin-bottom: 15px;
}

.title h2 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
}

.title p {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 550px;
}

.iconLinks {
  height: 35%;
  color: #dbd8d7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 25px;
  margin-right: 60px;
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 92px;
    padding: 0 25px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hourInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .hour {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    width: 54px;
    height: 16px;
  }

  .battery {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .battery i {
    margin-left: 5px;
  }

  .toolBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67.5px;
  }

  .btn {
    color: white;
    background-color: transparent;
    text-decoration: none;
    border: none;
  }

  .nav {
    display: none;
  }

  .headLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 590px;
    background-color: #1c1a19;
    padding: 0 25px 15px 25px;
    background-position-x: 185px;
    background-position-y: 235px;
    background-size: contain;
  }

  .title {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  .title h1 {
    color: #ff6b00;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 56px;
    letter-spacing: 0.37px;
    line-height: 64px;
    margin-bottom: 15px;
  }

  .title h2 {
    color: #fff5e1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .title p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-right: 10px;
    width: 100%;
  }

  .iconLinks {
    width: 60%;
    height: 0;
    color: #dbd8d7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    list-style-type: none;
  }

  .works {
    padding: 0 24px 0 24px;
  }

  .worksTitle {
    color: #1c1a19;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 107px 0 0 0;
  }

  .worksTitle span {
    border-bottom: 1px solid #212121;
    padding-bottom: 50px;
    text-align: center;
    width: 327px;
  }

  .worksTopImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
  }

  .worksHeadInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .worksHeadInfo h3 {
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 32px;
    color: #091e42;
    line-height: 44px;
    margin: 24px 0 12px 0;
  }

  .worksHeadInfo p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #091e42;
  }

  .tagGroup {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
  }

  .tagGroup div {
    padding: 10px 12px;
    border: 1px solid #8993a4;
  }

  .projectBtn {
    margin-bottom: 24px;
  }

  .projectBtn button {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background-color: #ff6B00;
    padding: 12px;
    border: none;
  }

  .container {
    display: grid;
    grid-template: repeat( 6, 1fr) / 1fr;
    row-gap: 24px;
    margin-bottom: 120px;
  }

  .container .card {
    height: 386px;
    background-image: url(assets/img/cardBack.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .card .info {
    padding: 0 24px;
  }
  
  .info h3 {
    color: white;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .info p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .card .cardTagGroup {
    margin: 12px 24px 24px 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: white;
  }

  .cardTagGroup div {
    margin-right: 12px;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
  }

  .card .bottomBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6B00;
    height: 48px;
    width: 100%;
  }

  .bottomBtn button {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background-color: #ff6B00;
    padding: 12px;
    border: none;
  }

  .about {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    background-color: #1c1a19;
    background-image: url(assets/img/Frame.png);
    background-repeat: no-repeat;
    background-position-x: 215px;
    background-position-y: 410px;
  }

  .about .aboutHead {
    margin-top: 120px;
    margin-bottom: 130px;
    height: 560px;
    border-bottom: 1px solid #fff;
  }

  .aboutHead h1 {
    color: #ff6b00;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 72px;
    letter-spacing: 0.37px;
    line-height: 81.5px;
    margin-bottom: 15px;
  }

  .aboutHead p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-right: 10px;
    width: 100%;
  }

  .aboutHead a button {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background-color: #ff6B00;
    padding: 12px;
    border: none;
  }

  .techList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .list .title i {
    color: #ff6b00;
    padding-right: 14px;
  }

  .list .title .flip {
    transform: rotate(-45deg);
  }

  .list .title h3 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    padding-right: 14px;
  }

  .list ul {
    margin: 44px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
  }

  .list ul li {
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 1100px) {
  .headLine {
    background-position-x: 120%;
  }
}

@media only screen and (max-width: 990px) {
  .headLine {
    background-position-x: 140%;
    background-size: contain;
  }
}

@media only screen and (max-width: 860px) {
  .headLine {
    background-position-x: 180%;
    background-size: contain;
  }
}

@media only screen and (max-width: 600px) {
  .headLine {
    background-position-x: 185px;
    background-position-y: 235px;
    background-size: contain;
  }
}
